@charset "UTF-8";
/*Formatação da página index*/
nav#pag {
    display: block;
}


nav#pag ul {
    list-style: none;
    text-align: uppercase;
    position: absolute;
    top: 55%;
    left: 50%;
    margin-left: -140px;
    margin-top: -40px;
    
}

nav#pag li{
    display: inline-block;
    background-color: #dddddd;
    padding: 15px;
    transition: background-color 0.8s;
    transition: border-radius 1s;
}

nav#pag li:hover {
    background-color: #606060;
    border-radius: 15px;
}

nav#pag a{
    color: black;
    text-decoration: none;
}

nav#pag a:hover{
    color: #ffffff;
    text-decoration: none;
}

nav#pag h1{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    color: white;
}

body#index1 {
    background-image: url("../imagens/index.jpg");
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container {
width: 100vw;
height: 100vh;
background: rgba(red, green, blue, 0);
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.box {
width: 300px;
height: 250px;
background: rgba(28, 28, 28, 0.8) ;
border-radius: 15px;
}

