/*Formatação da página de login do usuário e cliente*/

body#login{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
  }
  .caixa{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
  }
  .caixa h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }
  .caixa h4{
      color:white;
      font-size: 10pt;
      margin-top: -10px;
  }
  .caixa input[type = "text"],.caixa input[type = "password"],input[ type="number"]{
    border:0;
    background: none;
    display: block;
    margin: 2px auto;
    text-align: center;
    border: 2px solid #00ccff;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }
  .caixa input[type = "text"]:focus,.caixa input[type = "password"]:focus{
    width: 280px;
    border-color: #2ecc71;
  }
  .caixa input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  .caixa input[type = "submit"]:hover{
    background: #2ecc71;
  }